/* Styles for the SensorDetailsPage controls */
.page-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/*
  Media Query for printing.
  These styles will only be applied when the user prints the page.
*/
@media print {
    /* Hide any element with the .no-print class */
    .no-print {
        display: none !important;
    }
}